@import url(https://fonts.googleapis.com/css?family=Yanone+Kaffeesatz);
@import 'https://fonts.googleapis.com/css?family=Open+Sans';
*{
	box-sizing: border-box;
}

body{
	margin: 0;
	font-family: 'Open Sans', sans-serif;
}
h1, h2. h3, h4, h5, h6{
	font-family: 'Yanone Kaffeesatz', sans-serif;
	letter-spacing: 1.5px;
}
img{
	display: block;
	max-width: 100%;
}

/*Estilos del header*/
.header{
	height: 60px;
}
.header .contenedor{
	display: flex;/*uno alado de otro*/
	justify-content: space-between;
}
.icon-menu{
	display: block;
	width: 40px;
	height: 40px;
	font-size: 30px;
	background: #fba919;
	text-align: center;
	line-height: 45px;/*centrado vertical*/
	border-radius: 5px;
	margin-left: auto;/*solucion en mozila*/
	cursor: pointer;
}
.logo, .icon-menu{
	margin: 5px;
	color: #fff;
}
/*Estilo del menu*/
.nav{
	position: absolute;/*para q salga de su lugar*/
	top: 60px;
	left: -100%;
	width: 100%;
	transition: all 0.4s;
}
.menu{
	list-style: none;
	padding: 0;
	margin: 0;
}
.menu__link{
	display: block;
	padding: 15px;
	background: #fba919;
	text-decoration: none;
	color: #fff;
}
.menu__link:hover {
		background: white;
		color: #fba919;
}
.mostrar{
	left: 0;
}
.select{
	background: white;
	color: #fba919;
}
/*Estilos de banner*/
.banner{
	margin-top: -60px;
	position: relative;/*evitar q tape todo*/
	z-index: -1000;
	margin-bottom: 30px;
}
.banner__txt{
	display: none;
}
.banner .contenedor{
	position: absolute; /*centrado perfecto*/
	top: 50%;
	left: 50%;
	transform: translateX(-50%) translateY(-50%);
	width: 100%;
	color: #fff;
	text-align: center;
}

/*Estilos de info*/
.info__columna{
	background: #fba919;
	color: #fff;
	padding:15px;
	margin-bottom: 30px;
}